<div class="container">
  <div class="row">
    <div class="col-lg-6 mb-3 mb-lg-0">
      <h5>Sobre este sitio</h5>
      <p>Este es un pie de página genérico para tu proyecto web. Personalízalo con tu información.</p>
    </div>
    <div class="col-lg-3 mb-3 mb-lg-0">
      <h5>Enlaces</h5>
      <ul class="list-unstyled">
        <li><a href="index.html" class="text-white text-decoration-none">Inicio</a></li>
        <li><a href="servicios.html" class="text-white text-decoration-none">Servicios</a></li>
        <li><a href="nosotros.html" class="text-white text-decoration-none">Nosotros</a></li>
        <li><a href="contacto.html" class="text-white text-decoration-none">Contacto</a></li>
      </ul>
    </div>
    <div class="col-lg-3">
      <h5>Contacto</h5>
      <ul class="list-unstyled">
        <li><a href="mailto:info@tusitio.com" class="text-white text-decoration-none"><i class="fas fa-envelope me-2"></i>info@tusitio.com</a></li>
        <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-facebook me-2"></i>Facebook</a></li>
        <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-instagram me-2"></i>Instagram</a></li>
      </ul>
    </div>
  </div>
  <hr class="my-4 border-secondary">
  <div class="row align-items-center">
    <div class="col text-center">
      <p class="mb-0">&copy; <span id="current-year"></span> Tu Sitio. Todos los derechos reservados.</p>
    </div>
  </div>
</div> 