<div class="container">
  <div class="row">
    <div class="col-lg-6 mb-3 mb-lg-0">
      <h5>Guitar Joe's Music School</h5>
      <p>Guitar school specialized in training passionate musicians. Over 15 years of experience teaching electric guitar, acoustic guitar and music production in Madrid.</p>
    </div>
    <div class="col-lg-3 mb-3 mb-lg-0">
      <h5>Links</h5>
      <ul class="list-unstyled">
        <li><a href="index.html" class="text-white text-decoration-none">Home</a></li>
        <li><a href="services.html" class="text-white text-decoration-none">Courses</a></li>
        <li><a href="about.html" class="text-white text-decoration-none">Teachers</a></li>
        <li><a href="prices.html" class="text-white text-decoration-none">Prices</a></li>
        <li><a href="contact.html" class="text-white text-decoration-none">Contact</a></li>
      </ul>
    </div>
    <div class="col-lg-3">
      <h5>Contact</h5>
      <ul class="list-unstyled">
        <li><a href="mailto:info@guitarjoes.com" class="text-white text-decoration-none"><i class="fas fa-envelope me-2"></i>info@guitarjoes.com</a></li>
        <li><a href="tel:+34900123456" class="text-white text-decoration-none"><i class="fas fa-phone me-2"></i>900 123 456</a></li>
        <li><a href="https://www.facebook.com/share/19GFfx6zGg/" class="text-white text-decoration-none" target="_blank"><i class="fab fa-facebook me-2"></i>Facebook</a></li>
        <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-instagram me-2"></i>Instagram</a></li>
      </ul>
    </div>
  </div>
  <hr class="my-4 border-secondary">
  <div class="row align-items-center">
    <div class="col text-center">
      <p class="mb-0">&copy; <span id="current-year"></span> Guitar Joe's Music School. All rights reserved.</p>
    </div>
  </div>
</div> 